main.v-fall-main.v-fall-main--page-list
  .v-fall__container.v-fall__container--white.v-fall__container--list
    section.v-fall-main-block.grid.grid-column
      h2.v-fall-main-block__header Новинки
      .v-fall-main-block__container.grid.grid-wrap
        a.v-fall-main-block__item(href="#")
          img.v-fall-main-block__img(src="img/img1.jpg", alt="")
          h3.v-fall-main-block__title Фаворитка
          p.v-fall-main-block__content
            span.v-fall-main-block__elem 2011
            span.v-fall-main-block__elem Мелодрамма
        a.v-fall-main-block__item(href="#")
          img.v-fall-main-block__img(src="img/img2.jpg", alt="")
          h3.v-fall-main-block__title Стекло
          p.v-fall-main-block__content
            span.v-fall-main-block__elem 2019
            span.v-fall-main-block__elem Боевик
        a.v-fall-main-block__item(href="#")
          img.v-fall-main-block__img(src="img/img3.jpg", alt="")
          h3.v-fall-main-block__title Море соблазна
          p.v-fall-main-block__content
            span.v-fall-main-block__elem 2019
            span.v-fall-main-block__elem Боевик
        a.v-fall-main-block__item(href="#")
          img.v-fall-main-block__img(src="img/img1.jpg", alt="")
          h3.v-fall-main-block__title Фаворитка
          p.v-fall-main-block__content
            span.v-fall-main-block__elem 2011
            span.v-fall-main-block__elem Мелодрамма
        a.v-fall-main-block__item(href="#")
          img.v-fall-main-block__img(src="img/img2.jpg", alt="")
          h3.v-fall-main-block__title Стекло
          p.v-fall-main-block__content
            span.v-fall-main-block__elem 2019
            span.v-fall-main-block__elem Боевик
        a.v-fall-main-block__item(href="#")
          img.v-fall-main-block__img(src="img/img3.jpg", alt="")
          h3.v-fall-main-block__title Море соблазна
          p.v-fall-main-block__content
            span.v-fall-main-block__elem 2019
            span.v-fall-main-block__elem Боевик
        a.v-fall-main-block__item(href="#")
          img.v-fall-main-block__img(src="img/img1.jpg", alt="")
          h3.v-fall-main-block__title Фаворитка
          p.v-fall-main-block__content
            span.v-fall-main-block__elem 2011
            span.v-fall-main-block__elem Мелодрамма
        a.v-fall-main-block__item(href="#")
          img.v-fall-main-block__img(src="img/img2.jpg", alt="")
          h3.v-fall-main-block__title Стекло
          p.v-fall-main-block__content
            span.v-fall-main-block__elem 2019
            span.v-fall-main-block__elem Боевик
        a.v-fall-main-block__item(href="#")
          img.v-fall-main-block__img(src="img/img3.jpg", alt="")
          h3.v-fall-main-block__title Море соблазна
          p.v-fall-main-block__content
            span.v-fall-main-block__elem 2019
            span.v-fall-main-block__elem Боевик
        a.v-fall-main-block__item(href="#")
          img.v-fall-main-block__img(src="img/img1.jpg", alt="")
          h3.v-fall-main-block__title Фаворитка
          p.v-fall-main-block__content
            span.v-fall-main-block__elem 2011
            span.v-fall-main-block__elem Мелодрамма
        a.v-fall-main-block__item(href="#")
          img.v-fall-main-block__img(src="img/img2.jpg", alt="")
          h3.v-fall-main-block__title Стекло
          p.v-fall-main-block__content
            span.v-fall-main-block__elem 2019
            span.v-fall-main-block__elem Боевик
        a.v-fall-main-block__item(href="#")
          img.v-fall-main-block__img(src="img/img3.jpg", alt="")
          h3.v-fall-main-block__title Море соблазна
          p.v-fall-main-block__content
            span.v-fall-main-block__elem 2019
            span.v-fall-main-block__elem Боевик
        a.v-fall-main-block__item(href="#")
          img.v-fall-main-block__img(src="img/img1.jpg", alt="")
          h3.v-fall-main-block__title Фаворитка
          p.v-fall-main-block__content
            span.v-fall-main-block__elem 2011
            span.v-fall-main-block__elem Мелодрамма
        a.v-fall-main-block__item(href="#")
          img.v-fall-main-block__img(src="img/img2.jpg", alt="")
          h3.v-fall-main-block__title Стекло
          p.v-fall-main-block__content
            span.v-fall-main-block__elem 2019
            span.v-fall-main-block__elem Боевик
        a.v-fall-main-block__item(href="#")
          img.v-fall-main-block__img(src="img/img3.jpg", alt="")
          h3.v-fall-main-block__title Море соблазна
          p.v-fall-main-block__content
            span.v-fall-main-block__elem 2019
            span.v-fall-main-block__elem Боевик
        a.v-fall-main-block__item(href="#")
          img.v-fall-main-block__img(src="img/img1.jpg", alt="")
          h3.v-fall-main-block__title Фаворитка
          p.v-fall-main-block__content
            span.v-fall-main-block__elem 2011
            span.v-fall-main-block__elem Мелодрамма
        a.v-fall-main-block__item(href="#")
          img.v-fall-main-block__img(src="img/img2.jpg", alt="")
          h3.v-fall-main-block__title Стекло
          p.v-fall-main-block__content
            span.v-fall-main-block__elem 2019
            span.v-fall-main-block__elem Боевик
        a.v-fall-main-block__item(href="#")
          img.v-fall-main-block__img(src="img/img3.jpg", alt="")
          h3.v-fall-main-block__title Море соблазна
          p.v-fall-main-block__content
            span.v-fall-main-block__elem 2019
            span.v-fall-main-block__elem Боевик
        a.v-fall-main-block__item(href="#")
          img.v-fall-main-block__img(src="img/img1.jpg", alt="")
          h3.v-fall-main-block__title Фаворитка
          p.v-fall-main-block__content
            span.v-fall-main-block__elem 2011
            span.v-fall-main-block__elem Мелодрамма
        a.v-fall-main-block__item(href="#")
          img.v-fall-main-block__img(src="img/img2.jpg", alt="")
          h3.v-fall-main-block__title Стекло
          p.v-fall-main-block__content
            span.v-fall-main-block__elem 2019
            span.v-fall-main-block__elem Боевик
        a.v-fall-main-block__item(href="#")
          img.v-fall-main-block__img(src="img/img3.jpg", alt="")
          h3.v-fall-main-block__title Море соблазна
          p.v-fall-main-block__content
            span.v-fall-main-block__elem 2019
            span.v-fall-main-block__elem Боевик
        a.v-fall-main-block__item(href="#")
          img.v-fall-main-block__img(src="img/img1.jpg", alt="")
          h3.v-fall-main-block__title Фаворитка
          p.v-fall-main-block__content
            span.v-fall-main-block__elem 2011
            span.v-fall-main-block__elem Мелодрамма
        a.v-fall-main-block__item(href="#")
          img.v-fall-main-block__img(src="img/img2.jpg", alt="")
          h3.v-fall-main-block__title Стекло
          p.v-fall-main-block__content
            span.v-fall-main-block__elem 2019
            span.v-fall-main-block__elem Боевик
        a.v-fall-main-block__item(href="#")
          img.v-fall-main-block__img(src="img/img3.jpg", alt="")
          h3.v-fall-main-block__title Море соблазна
          p.v-fall-main-block__content
            span.v-fall-main-block__elem 2019
            span.v-fall-main-block__elem Боевик
        a.v-fall-main-block__item(href="#")
          img.v-fall-main-block__img(src="img/img1.jpg", alt="")
          h3.v-fall-main-block__title Фаворитка
          p.v-fall-main-block__content
            span.v-fall-main-block__elem 2011
            span.v-fall-main-block__elem Мелодрамма
        a.v-fall-main-block__item(href="#")
          img.v-fall-main-block__img(src="img/img2.jpg", alt="")
          h3.v-fall-main-block__title Стекло
          p.v-fall-main-block__content
            span.v-fall-main-block__elem 2019
            span.v-fall-main-block__elem Боевик
        a.v-fall-main-block__item(href="#")
          img.v-fall-main-block__img(src="img/img3.jpg", alt="")
          h3.v-fall-main-block__title Море соблазна
          p.v-fall-main-block__content
            span.v-fall-main-block__elem 2019
            span.v-fall-main-block__elem Боевик
        a.v-fall-main-block__item(href="#")
          img.v-fall-main-block__img(src="img/img1.jpg", alt="")
          h3.v-fall-main-block__title Фаворитка
          p.v-fall-main-block__content
            span.v-fall-main-block__elem 2011
            span.v-fall-main-block__elem Мелодрамма
        a.v-fall-main-block__item(href="#")
          img.v-fall-main-block__img(src="img/img2.jpg", alt="")
          h3.v-fall-main-block__title Стекло
          p.v-fall-main-block__content
            span.v-fall-main-block__elem 2019
            span.v-fall-main-block__elem Боевик
        a.v-fall-main-block__item(href="#")
          img.v-fall-main-block__img(src="img/img3.jpg", alt="")
          h3.v-fall-main-block__title Море соблазна
          p.v-fall-main-block__content
            span.v-fall-main-block__elem 2019
            span.v-fall-main-block__elem Боевик
      button.v-fall-main-block__btn.btn.btn-default(type="button") Загрузить еще