main.v-fall-main.v-fall-main--page-news
  .v-fall__container.v-fall__container--white.v-fall__container--main
    section.v-fall-main-block.grid.grid-column
      h2.v-fall-main-block__header Новости
      .v-fall-main-block__container.grid.grid-wrap
        a.v-fall-main-block__item.v-fall-main-block__item--lg(href="#")
          img.v-fall-main-block__img(src="img/img5.jpg", alt="")
          p.v-fall-main-block__text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id 
        a.v-fall-main-block__item.v-fall-main-block__item--lg(href="#")
          img.v-fall-main-block__img(src="img/img6.jpg", alt="")
          p.v-fall-main-block__text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id 
        a.v-fall-main-block__item.v-fall-main-block__item--lg(href="#")
          img.v-fall-main-block__img(src="img/img7.jpg", alt="")
          p.v-fall-main-block__text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id 
        a.v-fall-main-block__item.v-fall-main-block__item--lg(href="#")
          img.v-fall-main-block__img(src="img/img8.jpg", alt="")
          p.v-fall-main-block__text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id 
        a.v-fall-main-block__item.v-fall-main-block__item--lg(href="#")
          img.v-fall-main-block__img(src="img/img5.jpg", alt="")
          p.v-fall-main-block__text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id 
        a.v-fall-main-block__item.v-fall-main-block__item--lg(href="#")
          img.v-fall-main-block__img(src="img/img6.jpg", alt="")
          p.v-fall-main-block__text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id 
        a.v-fall-main-block__item.v-fall-main-block__item--lg(href="#")
          img.v-fall-main-block__img(src="img/img7.jpg", alt="")
          p.v-fall-main-block__text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id 
        a.v-fall-main-block__item.v-fall-main-block__item--lg(href="#")
          img.v-fall-main-block__img(src="img/img8.jpg", alt="")
          p.v-fall-main-block__text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id 
        a.v-fall-main-block__item.v-fall-main-block__item--lg(href="#")
          img.v-fall-main-block__img(src="img/img5.jpg", alt="")
          p.v-fall-main-block__text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id 
        a.v-fall-main-block__item.v-fall-main-block__item--lg(href="#")
          img.v-fall-main-block__img(src="img/img6.jpg", alt="")
          p.v-fall-main-block__text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id 
        a.v-fall-main-block__item.v-fall-main-block__item--lg(href="#")
          img.v-fall-main-block__img(src="img/img7.jpg", alt="")
          p.v-fall-main-block__text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id 
        a.v-fall-main-block__item.v-fall-main-block__item--lg(href="#")
          img.v-fall-main-block__img(src="img/img8.jpg", alt="")
          p.v-fall-main-block__text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id 
        a.v-fall-main-block__item.v-fall-main-block__item--lg(href="#")
          img.v-fall-main-block__img(src="img/img5.jpg", alt="")
          p.v-fall-main-block__text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id 
        a.v-fall-main-block__item.v-fall-main-block__item--lg(href="#")
          img.v-fall-main-block__img(src="img/img6.jpg", alt="")
          p.v-fall-main-block__text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id 
        a.v-fall-main-block__item.v-fall-main-block__item--lg(href="#")
          img.v-fall-main-block__img(src="img/img7.jpg", alt="")
          p.v-fall-main-block__text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id 
        a.v-fall-main-block__item.v-fall-main-block__item--lg(href="#")
          img.v-fall-main-block__img(src="img/img8.jpg", alt="")
          p.v-fall-main-block__text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id 
        a.v-fall-main-block__item.v-fall-main-block__item--lg(href="#")
          img.v-fall-main-block__img(src="img/img5.jpg", alt="")
          p.v-fall-main-block__text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id 
        a.v-fall-main-block__item.v-fall-main-block__item--lg(href="#")
          img.v-fall-main-block__img(src="img/img6.jpg", alt="")
          p.v-fall-main-block__text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id 
        a.v-fall-main-block__item.v-fall-main-block__item--lg(href="#")
          img.v-fall-main-block__img(src="img/img7.jpg", alt="")
          p.v-fall-main-block__text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id 
        a.v-fall-main-block__item.v-fall-main-block__item--lg(href="#")
          img.v-fall-main-block__img(src="img/img8.jpg", alt="")
          p.v-fall-main-block__text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id 
      button.v-fall-main-block__btn.btn.btn-disabled(type="button") Загрузить еще