doctype html
html
  head
    title V-Fall Cinema
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet' href='css/style.css')
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" rel="stylesheet")
    
  body
    header.v-fall-header.grid
      .v-fall__container.grid.grid-v-center.grid-v-between
        .v-fall-header__logo
          img.v-fall-header__img(src="img/v-fall/logo-v-fall.png", alt="V-Fall")
        nav.v-fall-header__nav
          a.v-fall-header__link(href="#") Новинки
          a.v-fall-header__link(href="#") Фильмы
          a.v-fall-header__link(href="#") Мультфильмы
          a.v-fall-header__link(href="#") Новости
          a.v-fall-header__link(href="#") Кинотеатры
          a.v-fall-header__link(href="#") Контакты
        form.v-fall-header__search
          input.v-fall-header__input(type="text", placeholder="Найти")


    block content

    footer.v-fall-footer.grid
      .v-fall__container.grid.grid-v-center.grid-v-between
        .v-fall-footer__logo
          img.v-fall-footer__img(src="img/v-fall/logo-v-fall.png", alt="V-Fall")
        nav.v-fall-footer__nav
          a.v-fall-footer__link(href="#") Новинки
          a.v-fall-footer__link(href="#") Фильмы
          a.v-fall-footer__link(href="#") Мультфильмы
          a.v-fall-footer__link(href="#") Новости
          a.v-fall-footer__link(href="#") Кинотеатры
          a.v-fall-footer__link(href="#") Контакты
        form.v-fall-footer__search
          input.v-fall-footer__input(type="text", placeholder="Найти")
    script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js")
    script(src="js/script.js")