doctype html
html
  head
    title ladines Cinema
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet' href='css/style.css')
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" rel="stylesheet")
    
  body
    header.ladines-header.grid
      .ladines__container.grid.grid-v-center.grid-v-between
        .ladines-header__logo
          img.ladines-header__img(src="img/logo-ladines.png", alt="ladines")
        nav.ladines-header__nav
          a.ladines-header__link(href="#") Новинки
          a.ladines-header__link(href="#") Фильмы
          a.ladines-header__link(href="#") Мультфильмы
          a.ladines-header__link(href="#") Новости
          a.ladines-header__link(href="#") Кинотеатры
          a.ladines-header__link(href="#") Контакты
        form.ladines-header__search
          input.ladines-header__input(type="text", placeholder="Найти")


    block content

    footer.ladines-footer.grid
      .ladines__container.grid.grid-v-center.grid-v-between
        .ladines-footer__logo
          img.ladines-footer__img(src="img/logo-ladines.png", alt="ladines")
        nav.ladines-footer__nav
          a.ladines-footer__link(href="#") Новинки
          a.ladines-footer__link(href="#") Фильмы
          a.ladines-footer__link(href="#") Мультфильмы
          a.ladines-footer__link(href="#") Новости
          a.ladines-footer__link(href="#") Кинотеатры
          a.ladines-footer__link(href="#") Контакты
        .ladines-footer__social.grid.grid-v-center
          span Присоединяйтесь
          .ladines-footer__social-nav
            a.ladines-footer__social-link(href="#")
              img(src="img/vk.png")
            a.ladines-footer__social-link(href="#")
              img(src="img/fb.png")
            a.ladines-footer__social-link(href="#")
              img(src="img/ok.png")
    script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js")
    script.
      var owl = $('.ladines-main-slider');
      var owl2 = $('.ladines-main-block__container-carousel')
      owl.owlCarousel({
          center: true,
          items: 2,
          loop: true,
          margin: 23,
          autoWidth: true,
      });
      $('.ladines-main-slide__next').click(function() {
          owl.trigger('next.owl.carousel', [300]);
      })
      $('.ladines-main-slide__prev').click(function() {
          owl.trigger('prev.owl.carousel', [300]);
      })

      $(document).on('click', '.ladines-main-block__item', function(e) {
        e.preventDefault();

        $('body').css('overflow', 'hidden');
        $('.ladines-modal').fadeIn();
      })

      $('.ladines-modal__close').click(function() {
        $('.ladines-modal').fadeOut();
        $('body').css('overflow', 'auto');
      })

      var video = $("video"),
          pauseButton = $(".ladines-inner__video-btn");
          pauseButton.bind('click', function() {
          if (video.get(0).paused) {
              video.get(0).play();
          } else {
              video.get(0).pause();
          }
      });

      $(".ladines-inner__content-slide").click(function() {
        $('.ladines-inner__content-text').animate({
          height: 250
        })
      })

      owl2.owlCarousel({
          items: 4,
          loop: true,
          margin: 20,
          autoWidth: true
      });

      $('.ladines-main-block__carousel-right').click(function() {
          owl2.trigger('next.owl.carousel', [300]);
      })
      $('.ladines-main-block__carousel-left').click(function() {
          owl2.trigger('prev.owl.carousel', [300]);
      })