footer.ladines-footer.grid
  .ladines__container.grid.grid-v-center.grid-v-between
    .ladines-footer__logo
      img.ladines-footer__img(src="/assets/img/ladines/logo-ladines.png", alt="ladines")
    nav.ladines-footer__nav
      a.ladines-footer__link(href="#") Новинки
      a.ladines-footer__link(href="#") Фильмы
      a.ladines-footer__link(href="#") Мультфильмы
      a.ladines-footer__link(href="#") Новости
      a.ladines-footer__link(href="#") Кинотеатры
      a.ladines-footer__link(href="#") Контакты
    .ladines-footer__social.grid.grid-v-center
      span Присоединяйтесь
      .ladines-footer__social-nav
        a.ladines-footer__social-link(href="#")
          img(src="/assets/img/ladines/vk.png")
        a.ladines-footer__social-link(href="#")
          img(src="/assets/img/ladines/fb.png")
        a.ladines-footer__social-link(href="#")
          img(src="/assets/img/ladines/ok.png")
script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js")
script(src="/assets/js/script.js")

include ../metrics