main.ladines-main
  .ladines__container.grid.grid-column.ladines__container--not-found
    section.ladines-not-found
      img.ladines-not-found__img(src="img/404.png", alt="404")
      p.ladines-not-found__text КАЖЕТСЯ, ЧТО-ТО ПОШЛО НЕ ТАК
      p.ladines-not-found__subtext К сожалению, запрашиваемая страница не найдена, перейдите на 
        a(href="#") главную