main.ladines-main.ladines-main--page-list
  .ladines__container.ladines__container--list
    section.ladines-main-block.grid.grid-column
      h2.ladines-main-block__header Новинки
      .ladines-main-block__container.grid.grid-wrap
        a.ladines-main-block__item(href="#")
          img.ladines-main-block__img(src="img/img1.jpg", alt="")
          h3.ladines-main-block__title Фаворитка
          p.ladines-main-block__content
            span.ladines-main-block__elem 2011
            span.ladines-main-block__elem Мелодрамма
        a.ladines-main-block__item(href="#")
          img.ladines-main-block__img(src="img/img2.jpg", alt="")
          h3.ladines-main-block__title Стекло
          p.ladines-main-block__content
            span.ladines-main-block__elem 2019
            span.ladines-main-block__elem Боевик
        a.ladines-main-block__item(href="#")
          img.ladines-main-block__img(src="img/img3.jpg", alt="")
          h3.ladines-main-block__title Море соблазна
          p.ladines-main-block__content
            span.ladines-main-block__elem 2019
            span.ladines-main-block__elem Боевик
        a.ladines-main-block__item(href="#")
          img.ladines-main-block__img(src="img/img1.jpg", alt="")
          h3.ladines-main-block__title Фаворитка
          p.ladines-main-block__content
            span.ladines-main-block__elem 2011
            span.ladines-main-block__elem Мелодрамма
        a.ladines-main-block__item(href="#")
          img.ladines-main-block__img(src="img/img2.jpg", alt="")
          h3.ladines-main-block__title Стекло
          p.ladines-main-block__content
            span.ladines-main-block__elem 2019
            span.ladines-main-block__elem Боевик
        a.ladines-main-block__item(href="#")
          img.ladines-main-block__img(src="img/img3.jpg", alt="")
          h3.ladines-main-block__title Море соблазна
          p.ladines-main-block__content
            span.ladines-main-block__elem 2019
            span.ladines-main-block__elem Боевик
        a.ladines-main-block__item(href="#")
          img.ladines-main-block__img(src="img/img1.jpg", alt="")
          h3.ladines-main-block__title Фаворитка
          p.ladines-main-block__content
            span.ladines-main-block__elem 2011
            span.ladines-main-block__elem Мелодрамма
        a.ladines-main-block__item(href="#")
          img.ladines-main-block__img(src="img/img2.jpg", alt="")
          h3.ladines-main-block__title Стекло
          p.ladines-main-block__content
            span.ladines-main-block__elem 2019
            span.ladines-main-block__elem Боевик
        a.ladines-main-block__item(href="#")
          img.ladines-main-block__img(src="img/img3.jpg", alt="")
          h3.ladines-main-block__title Море соблазна
          p.ladines-main-block__content
            span.ladines-main-block__elem 2019
            span.ladines-main-block__elem Боевик
        a.ladines-main-block__item(href="#")
          img.ladines-main-block__img(src="img/img1.jpg", alt="")
          h3.ladines-main-block__title Фаворитка
          p.ladines-main-block__content
            span.ladines-main-block__elem 2011
            span.ladines-main-block__elem Мелодрамма
        a.ladines-main-block__item(href="#")
          img.ladines-main-block__img(src="img/img2.jpg", alt="")
          h3.ladines-main-block__title Стекло
          p.ladines-main-block__content
            span.ladines-main-block__elem 2019
            span.ladines-main-block__elem Боевик
        a.ladines-main-block__item(href="#")
          img.ladines-main-block__img(src="img/img3.jpg", alt="")
          h3.ladines-main-block__title Море соблазна
          p.ladines-main-block__content
            span.ladines-main-block__elem 2019
            span.ladines-main-block__elem Боевик
        a.ladines-main-block__item(href="#")
          img.ladines-main-block__img(src="img/img1.jpg", alt="")
          h3.ladines-main-block__title Фаворитка
          p.ladines-main-block__content
            span.ladines-main-block__elem 2011
            span.ladines-main-block__elem Мелодрамма
        a.ladines-main-block__item(href="#")
          img.ladines-main-block__img(src="img/img2.jpg", alt="")
          h3.ladines-main-block__title Стекло
          p.ladines-main-block__content
            span.ladines-main-block__elem 2019
            span.ladines-main-block__elem Боевик
        a.ladines-main-block__item(href="#")
          img.ladines-main-block__img(src="img/img3.jpg", alt="")
          h3.ladines-main-block__title Море соблазна
          p.ladines-main-block__content
            span.ladines-main-block__elem 2019
            span.ladines-main-block__elem Боевик
        a.ladines-main-block__item(href="#")
          img.ladines-main-block__img(src="img/img1.jpg", alt="")
          h3.ladines-main-block__title Фаворитка
          p.ladines-main-block__content
            span.ladines-main-block__elem 2011
            span.ladines-main-block__elem Мелодрамма
        a.ladines-main-block__item(href="#")
          img.ladines-main-block__img(src="img/img2.jpg", alt="")
          h3.ladines-main-block__title Стекло
          p.ladines-main-block__content
            span.ladines-main-block__elem 2019
            span.ladines-main-block__elem Боевик
        a.ladines-main-block__item(href="#")
          img.ladines-main-block__img(src="img/img3.jpg", alt="")
          h3.ladines-main-block__title Море соблазна
          p.ladines-main-block__content
            span.ladines-main-block__elem 2019
            span.ladines-main-block__elem Боевик
        a.ladines-main-block__item(href="#")
          img.ladines-main-block__img(src="img/img1.jpg", alt="")
          h3.ladines-main-block__title Фаворитка
          p.ladines-main-block__content
            span.ladines-main-block__elem 2011
            span.ladines-main-block__elem Мелодрамма
        a.ladines-main-block__item(href="#")
          img.ladines-main-block__img(src="img/img2.jpg", alt="")
          h3.ladines-main-block__title Стекло
          p.ladines-main-block__content
            span.ladines-main-block__elem 2019
            span.ladines-main-block__elem Боевик
        a.ladines-main-block__item(href="#")
          img.ladines-main-block__img(src="img/img3.jpg", alt="")
          h3.ladines-main-block__title Море соблазна
          p.ladines-main-block__content
            span.ladines-main-block__elem 2019
            span.ladines-main-block__elem Боевик
        a.ladines-main-block__item(href="#")
          img.ladines-main-block__img(src="img/img1.jpg", alt="")
          h3.ladines-main-block__title Фаворитка
          p.ladines-main-block__content
            span.ladines-main-block__elem 2011
            span.ladines-main-block__elem Мелодрамма
        a.ladines-main-block__item(href="#")
          img.ladines-main-block__img(src="img/img2.jpg", alt="")
          h3.ladines-main-block__title Стекло
          p.ladines-main-block__content
            span.ladines-main-block__elem 2019
            span.ladines-main-block__elem Боевик
        a.ladines-main-block__item(href="#")
          img.ladines-main-block__img(src="img/img3.jpg", alt="")
          h3.ladines-main-block__title Море соблазна
          p.ladines-main-block__content
            span.ladines-main-block__elem 2019
            span.ladines-main-block__elem Боевик
        a.ladines-main-block__item(href="#")
          img.ladines-main-block__img(src="img/img1.jpg", alt="")
          h3.ladines-main-block__title Фаворитка
          p.ladines-main-block__content
            span.ladines-main-block__elem 2011
            span.ladines-main-block__elem Мелодрамма
        a.ladines-main-block__item(href="#")
          img.ladines-main-block__img(src="img/img2.jpg", alt="")
          h3.ladines-main-block__title Стекло
          p.ladines-main-block__content
            span.ladines-main-block__elem 2019
            span.ladines-main-block__elem Боевик
        a.ladines-main-block__item(href="#")
          img.ladines-main-block__img(src="img/img3.jpg", alt="")
          h3.ladines-main-block__title Море соблазна
          p.ladines-main-block__content
            span.ladines-main-block__elem 2019
            span.ladines-main-block__elem Боевик
        a.ladines-main-block__item(href="#")
          img.ladines-main-block__img(src="img/img1.jpg", alt="")
          h3.ladines-main-block__title Фаворитка
          p.ladines-main-block__content
            span.ladines-main-block__elem 2011
            span.ladines-main-block__elem Мелодрамма
        a.ladines-main-block__item(href="#")
          img.ladines-main-block__img(src="img/img2.jpg", alt="")
          h3.ladines-main-block__title Стекло
          p.ladines-main-block__content
            span.ladines-main-block__elem 2019
            span.ladines-main-block__elem Боевик
        a.ladines-main-block__item(href="#")
          img.ladines-main-block__img(src="img/img3.jpg", alt="")
          h3.ladines-main-block__title Море соблазна
          p.ladines-main-block__content
            span.ladines-main-block__elem 2019
            span.ladines-main-block__elem Боевик
      button.ladines-main-block__btn.btn.btn-default(type="button") Загрузить еще
        img(src="img/more.png", alt="More")