main.ladines-main.ladines-main--page-news
  .ladines__container.ladines__container--white.ladines__container--main
    section.ladines-main-block.grid.grid-column
      .ladines-news-block__top.grid.grid-v-between
        h2.ladines-main-block__header Новости
        .ladines-news-block__sort.grid.grid-v-center
          p Показать
          select.ladines-news-block__sort-select(name='select')
            option(value='rate') По полуряности
            option(value='date') По дате
            option(value='title') По названию
            option(value='wtf') По щючьему велению заказчика
      .ladines-main-block__container.grid.grid-wrap
        a(href="#").ladines-news-block
          p.ladines-news-block__head
            span 25.03.2019
            span Новость
          .ladines-news-block__content.grid
            img.ladines-news-block__img(src="img/img9.jpg", alt="img")
            h3.ladines-news-block__header Пратта и Смита облили зеленой слизью на премии Kids’ Choice
        a(href="#").ladines-news-block
          p.ladines-news-block__head
            span 25.03.2019
            span Новость
          .ladines-news-block__content.grid
            img.ladines-news-block__img(src="img/img9.jpg", alt="img")
            h3.ladines-news-block__header Пратта и Смита облили зеленой слизью на премии Kids’ Choice
        a(href="#").ladines-news-block
          p.ladines-news-block__head
            span 25.03.2019
            span Новость
          .ladines-news-block__content.grid
            img.ladines-news-block__img(src="img/img9.jpg", alt="img")
            h3.ladines-news-block__header Пратта и Смита облили зеленой слизью на премии Kids’ Choice
        a(href="#").ladines-news-block
          p.ladines-news-block__head
            span 25.03.2019
            span Новость
          .ladines-news-block__content.grid
            img.ladines-news-block__img(src="img/img9.jpg", alt="img")
            h3.ladines-news-block__header Пратта и Смита облили зеленой слизью на премии Kids’ Choice 
        a(href="#").ladines-news-block
          p.ladines-news-block__head
            span 25.03.2019
            span Новость
          .ladines-news-block__content.grid
            img.ladines-news-block__img(src="img/img9.jpg", alt="img")
            h3.ladines-news-block__header Пратта и Смита облили зеленой слизью на премии Kids’ Choice
        a(href="#").ladines-news-block
          p.ladines-news-block__head
            span 25.03.2019
            span Новость
          .ladines-news-block__content.grid
            img.ladines-news-block__img(src="img/img9.jpg", alt="img")
            h3.ladines-news-block__header Пратта и Смита облили зеленой слизью на премии Kids’ Choice
        a(href="#").ladines-news-block
          p.ladines-news-block__head
            span 25.03.2019
            span Новость
          .ladines-news-block__content.grid
            img.ladines-news-block__img(src="img/img9.jpg", alt="img")
            h3.ladines-news-block__header Пратта и Смита облили зеленой слизью на премии Kids’ Choice
        a(href="#").ladines-news-block
          p.ladines-news-block__head
            span 25.03.2019
            span Новость
          .ladines-news-block__content.grid
            img.ladines-news-block__img(src="img/img9.jpg", alt="img")
            h3.ladines-news-block__header Пратта и Смита облили зеленой слизью на премии Kids’ Choice 
      button.ladines-news-block__btn.btn.btn-default(type="button") Загрузить еще
        img(src="img/more.png", alt="More")
        