main.showlaxy-main.showlaxy-contacts
  .showlaxy__container.grid.grid-column.showlaxy__container--contacts
    section.showlaxy__container--white.showlaxy-contacts__block
      h2.showlaxy-contacts__header Свяжитесь с нами
      h4.showlaxy-contacts__subheader Если у вас есть вопросы, предложения или комментарии о сайте, напишите нам по адресу wearevideout@gmail.com
      p.showlaxy-contacts__text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est eopksio laborum. Sed ut perspiciatis unde omnis istpoe natus error sit voluptatem accusantium doloremque eopsloi laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunot explicabo. Nemo ernim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sedopk quia consequuntur magni dolores eos qui rationesopl voluptatem sequi nesciunt. Neque porro quisquameo est, qui dolorem ipsum quia dolor sit amet, eopsmiep consectetur, adipisci velit, seisud quia non numquam eius modi tempora incidunt ut labore et dolore wopeir magnam aliquam quaerat voluptatem eoplmuriquisqu
    hr
    section.showlaxy-contacts__block
      h3.showlaxy-contacts__header Редакция
      p.showlaxy-contacts__subheader Пишите сюда team@videout.ru, чтобы связаться с редакцией сайта. Не забудьте указать свои координаты — ваше имя, компанию и номер телефона.