main.showlaxy-main
  .showlaxy__container.grid.grid-column.showlaxy__container--not-found
    section.showlaxy-not-found
      img.showlaxy-not-found__img(src="img/404.png", alt="404")
      p.showlaxy-not-found__text КАЖЕТСЯ, ЧТО-ТО ПОШЛО НЕ ТАК
      p.showlaxy-not-found__subtext К сожалению, запрашиваемая страница не найдена, перейдите на 
        a(href="#") главную