main.showlaxy-main
  .showlaxy__container.grid.grid-column.showlaxy__container--inner
    section.showlaxy__container--white.showlaxy-inner__block
      h2.showlaxy-inner__header Фаворитка
      h4.showlaxy-inner__subheader The Favourite
      .showlaxy-inner__video
        video(width='939' poster='https://html5book.ru/examples/media/white_cherry_tree.jpg' loop='')
          source(src='https://html5book.ru/examples/media/blossoming_white_cherry_tree.mp4' type='video/mp4')
        .showlaxy-inner__video-mask
          button.showlaxy-inner__video-btn
    section.showlaxy-inner__block.showlaxy-inner__block-poster
      .showlaxy-inner__content
        .showlaxy-inner__content-poster
          img.showlaxy-inner__content-img(src="img/inner.jpg")
        .showlaxy-inner__content-description.grid.grid-column
          .showlaxy-inner__content-list
            .showlaxy-inner__content-item
              span Год
              span 2015
            .showlaxy-inner__content-item
              span Страна
              span Англия
            .showlaxy-inner__content-item
              span Жанр
              span Комедия
          span.showlaxy-inner__content-text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est eopksio laborum. Sed ut perspiciatis unde omnis istpoe natus error sit voluptatem accusantium doloremque eopsloi laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunot explicabo. Nemo ernim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sedopk quia consequuntur magni dolores eos qui rationesopl voluptatem sequi nesciunt. Neque porro quisquameo est, qui dolorem ipsum quia dolor sit amet, eopsmiep consectetur, adipisci velit, seisud quia non numquam eius modi tempora incidunt ut labore et dolore wopeir magnam aliquam quaerat voluptatem eoplmuriquisqu
          span.showlaxy-inner__content-slide Развернуть
    section.showlaxy__container--white.showlaxy-main-block.showlaxy-inner__block-container
      h2.showlaxy-main-block__header Новости
      .showlaxy-main-block__container
        a.showlaxy-main-block__item.showlaxy-main-block__item--lg(href="#")
          img.showlaxy-main-block__img(src="img/img5.jpg", alt="")
          p.showlaxy-main-block__text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id 
        a.showlaxy-main-block__item.showlaxy-main-block__item--lg(href="#")
          img.showlaxy-main-block__img(src="img/img6.jpg", alt="")
          p.showlaxy-main-block__text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id 
        a.showlaxy-main-block__item.showlaxy-main-block__item--lg(href="#")
          img.showlaxy-main-block__img(src="img/img7.jpg", alt="")
          p.showlaxy-main-block__text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id 
        a.showlaxy-main-block__item.showlaxy-main-block__item--lg(href="#")
          img.showlaxy-main-block__img(src="img/img8.jpg", alt="")
          p.showlaxy-main-block__text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
    section.showlaxy__container--white.showlaxy-inner__block-container
      .showlaxy-main-block.showlaxy-main-block__carousel
        h2.showlaxy-main-block__header Planeta online
        .showlaxy-main-block__container.showlaxy-main-block__container-carousel.owl-carousel
          a.showlaxy-main-block__item.showlaxy-main-block__item--lg(href="#")
            img.showlaxy-main-block__img(src="img/img5.jpg", alt="")
            h3.showlaxy-main-block__title Фаворитка
            p.showlaxy-main-block__content
              span.showlaxy-main-block__elem 2011
              span.showlaxy-main-block__elem Мелодрамма
          a.showlaxy-main-block__item.showlaxy-main-block__item--lg(href="#")
            img.showlaxy-main-block__img(src="img/img6.jpg", alt="")
            h3.showlaxy-main-block__title Стекло
            p.showlaxy-main-block__content
              span.showlaxy-main-block__elem 2019
              span.showlaxy-main-block__elem Боевик
          a.showlaxy-main-block__item.showlaxy-main-block__item--lg(href="#")
            img.showlaxy-main-block__img(src="img/img7.jpg", alt="")
            h3.showlaxy-main-block__title Море соблазна
            p.showlaxy-main-block__content
              span.showlaxy-main-block__elem 2019
              span.showlaxy-main-block__elem Боевик
          a.showlaxy-main-block__item.showlaxy-main-block__item--lg(href="#")
            img.showlaxy-main-block__img(src="img/img8.jpg", alt="")
            h3.showlaxy-main-block__title Фаворитка
            p.showlaxy-main-block__content
              span.showlaxy-main-block__elem 2011
              span.showlaxy-main-block__elem Мелодрамма
        .showlaxy-main-block__carousel-btn
          button.showlaxy-main-block__carousel-left
          button.showlaxy-main-block__carousel-right  