main.showlaxy-main.showlaxy-main--page-list
  .showlaxy__container.showlaxy__container--white.showlaxy__container--list
    section.showlaxy-main-block.grid.grid-column
      h2.showlaxy-main-block__header Новинки
      .showlaxy-main-block__container.grid.grid-wrap
        a.showlaxy-main-block__item(href="#")
          img.showlaxy-main-block__img(src="img/img1.jpg", alt="")
          h3.showlaxy-main-block__title Фаворитка
          p.showlaxy-main-block__content
            span.showlaxy-main-block__elem 2011
            span.showlaxy-main-block__elem Мелодрамма
        a.showlaxy-main-block__item(href="#")
          img.showlaxy-main-block__img(src="img/img2.jpg", alt="")
          h3.showlaxy-main-block__title Стекло
          p.showlaxy-main-block__content
            span.showlaxy-main-block__elem 2019
            span.showlaxy-main-block__elem Боевик
        a.showlaxy-main-block__item(href="#")
          img.showlaxy-main-block__img(src="img/img3.jpg", alt="")
          h3.showlaxy-main-block__title Море соблазна
          p.showlaxy-main-block__content
            span.showlaxy-main-block__elem 2019
            span.showlaxy-main-block__elem Боевик
        a.showlaxy-main-block__item(href="#")
          img.showlaxy-main-block__img(src="img/img1.jpg", alt="")
          h3.showlaxy-main-block__title Фаворитка
          p.showlaxy-main-block__content
            span.showlaxy-main-block__elem 2011
            span.showlaxy-main-block__elem Мелодрамма
        a.showlaxy-main-block__item(href="#")
          img.showlaxy-main-block__img(src="img/img2.jpg", alt="")
          h3.showlaxy-main-block__title Стекло
          p.showlaxy-main-block__content
            span.showlaxy-main-block__elem 2019
            span.showlaxy-main-block__elem Боевик
        a.showlaxy-main-block__item(href="#")
          img.showlaxy-main-block__img(src="img/img3.jpg", alt="")
          h3.showlaxy-main-block__title Море соблазна
          p.showlaxy-main-block__content
            span.showlaxy-main-block__elem 2019
            span.showlaxy-main-block__elem Боевик
        a.showlaxy-main-block__item(href="#")
          img.showlaxy-main-block__img(src="img/img1.jpg", alt="")
          h3.showlaxy-main-block__title Фаворитка
          p.showlaxy-main-block__content
            span.showlaxy-main-block__elem 2011
            span.showlaxy-main-block__elem Мелодрамма
        a.showlaxy-main-block__item(href="#")
          img.showlaxy-main-block__img(src="img/img2.jpg", alt="")
          h3.showlaxy-main-block__title Стекло
          p.showlaxy-main-block__content
            span.showlaxy-main-block__elem 2019
            span.showlaxy-main-block__elem Боевик
        a.showlaxy-main-block__item(href="#")
          img.showlaxy-main-block__img(src="img/img3.jpg", alt="")
          h3.showlaxy-main-block__title Море соблазна
          p.showlaxy-main-block__content
            span.showlaxy-main-block__elem 2019
            span.showlaxy-main-block__elem Боевик
        a.showlaxy-main-block__item(href="#")
          img.showlaxy-main-block__img(src="img/img1.jpg", alt="")
          h3.showlaxy-main-block__title Фаворитка
          p.showlaxy-main-block__content
            span.showlaxy-main-block__elem 2011
            span.showlaxy-main-block__elem Мелодрамма
        a.showlaxy-main-block__item(href="#")
          img.showlaxy-main-block__img(src="img/img2.jpg", alt="")
          h3.showlaxy-main-block__title Стекло
          p.showlaxy-main-block__content
            span.showlaxy-main-block__elem 2019
            span.showlaxy-main-block__elem Боевик
        a.showlaxy-main-block__item(href="#")
          img.showlaxy-main-block__img(src="img/img3.jpg", alt="")
          h3.showlaxy-main-block__title Море соблазна
          p.showlaxy-main-block__content
            span.showlaxy-main-block__elem 2019
            span.showlaxy-main-block__elem Боевик
        a.showlaxy-main-block__item(href="#")
          img.showlaxy-main-block__img(src="img/img1.jpg", alt="")
          h3.showlaxy-main-block__title Фаворитка
          p.showlaxy-main-block__content
            span.showlaxy-main-block__elem 2011
            span.showlaxy-main-block__elem Мелодрамма
        a.showlaxy-main-block__item(href="#")
          img.showlaxy-main-block__img(src="img/img2.jpg", alt="")
          h3.showlaxy-main-block__title Стекло
          p.showlaxy-main-block__content
            span.showlaxy-main-block__elem 2019
            span.showlaxy-main-block__elem Боевик
        a.showlaxy-main-block__item(href="#")
          img.showlaxy-main-block__img(src="img/img3.jpg", alt="")
          h3.showlaxy-main-block__title Море соблазна
          p.showlaxy-main-block__content
            span.showlaxy-main-block__elem 2019
            span.showlaxy-main-block__elem Боевик
        a.showlaxy-main-block__item(href="#")
          img.showlaxy-main-block__img(src="img/img1.jpg", alt="")
          h3.showlaxy-main-block__title Фаворитка
          p.showlaxy-main-block__content
            span.showlaxy-main-block__elem 2011
            span.showlaxy-main-block__elem Мелодрамма
        a.showlaxy-main-block__item(href="#")
          img.showlaxy-main-block__img(src="img/img2.jpg", alt="")
          h3.showlaxy-main-block__title Стекло
          p.showlaxy-main-block__content
            span.showlaxy-main-block__elem 2019
            span.showlaxy-main-block__elem Боевик
        a.showlaxy-main-block__item(href="#")
          img.showlaxy-main-block__img(src="img/img3.jpg", alt="")
          h3.showlaxy-main-block__title Море соблазна
          p.showlaxy-main-block__content
            span.showlaxy-main-block__elem 2019
            span.showlaxy-main-block__elem Боевик
        a.showlaxy-main-block__item(href="#")
          img.showlaxy-main-block__img(src="img/img1.jpg", alt="")
          h3.showlaxy-main-block__title Фаворитка
          p.showlaxy-main-block__content
            span.showlaxy-main-block__elem 2011
            span.showlaxy-main-block__elem Мелодрамма
        a.showlaxy-main-block__item(href="#")
          img.showlaxy-main-block__img(src="img/img2.jpg", alt="")
          h3.showlaxy-main-block__title Стекло
          p.showlaxy-main-block__content
            span.showlaxy-main-block__elem 2019
            span.showlaxy-main-block__elem Боевик
        a.showlaxy-main-block__item(href="#")
          img.showlaxy-main-block__img(src="img/img3.jpg", alt="")
          h3.showlaxy-main-block__title Море соблазна
          p.showlaxy-main-block__content
            span.showlaxy-main-block__elem 2019
            span.showlaxy-main-block__elem Боевик
        a.showlaxy-main-block__item(href="#")
          img.showlaxy-main-block__img(src="img/img1.jpg", alt="")
          h3.showlaxy-main-block__title Фаворитка
          p.showlaxy-main-block__content
            span.showlaxy-main-block__elem 2011
            span.showlaxy-main-block__elem Мелодрамма
        a.showlaxy-main-block__item(href="#")
          img.showlaxy-main-block__img(src="img/img2.jpg", alt="")
          h3.showlaxy-main-block__title Стекло
          p.showlaxy-main-block__content
            span.showlaxy-main-block__elem 2019
            span.showlaxy-main-block__elem Боевик
        a.showlaxy-main-block__item(href="#")
          img.showlaxy-main-block__img(src="img/img3.jpg", alt="")
          h3.showlaxy-main-block__title Море соблазна
          p.showlaxy-main-block__content
            span.showlaxy-main-block__elem 2019
            span.showlaxy-main-block__elem Боевик
        a.showlaxy-main-block__item(href="#")
          img.showlaxy-main-block__img(src="img/img1.jpg", alt="")
          h3.showlaxy-main-block__title Фаворитка
          p.showlaxy-main-block__content
            span.showlaxy-main-block__elem 2011
            span.showlaxy-main-block__elem Мелодрамма
        a.showlaxy-main-block__item(href="#")
          img.showlaxy-main-block__img(src="img/img2.jpg", alt="")
          h3.showlaxy-main-block__title Стекло
          p.showlaxy-main-block__content
            span.showlaxy-main-block__elem 2019
            span.showlaxy-main-block__elem Боевик
        a.showlaxy-main-block__item(href="#")
          img.showlaxy-main-block__img(src="img/img3.jpg", alt="")
          h3.showlaxy-main-block__title Море соблазна
          p.showlaxy-main-block__content
            span.showlaxy-main-block__elem 2019
            span.showlaxy-main-block__elem Боевик
        a.showlaxy-main-block__item(href="#")
          img.showlaxy-main-block__img(src="img/img1.jpg", alt="")
          h3.showlaxy-main-block__title Фаворитка
          p.showlaxy-main-block__content
            span.showlaxy-main-block__elem 2011
            span.showlaxy-main-block__elem Мелодрамма
        a.showlaxy-main-block__item(href="#")
          img.showlaxy-main-block__img(src="img/img2.jpg", alt="")
          h3.showlaxy-main-block__title Стекло
          p.showlaxy-main-block__content
            span.showlaxy-main-block__elem 2019
            span.showlaxy-main-block__elem Боевик
        a.showlaxy-main-block__item(href="#")
          img.showlaxy-main-block__img(src="img/img3.jpg", alt="")
          h3.showlaxy-main-block__title Море соблазна
          p.showlaxy-main-block__content
            span.showlaxy-main-block__elem 2019
            span.showlaxy-main-block__elem Боевик
      button.showlaxy-news-block__btn.btn(type="button") Загрузить еще
        img(src="img/more.png", alt="More")