main.showlaxy-main.showlaxy-main--page-news
  .showlaxy__container.showlaxy__container--white.showlaxy__container--main
    section.showlaxy-main-block.grid.grid-column
      .showlaxy-news-block__top.grid.grid-v-between
        h2.showlaxy-main-block__header Новости
        .showlaxy-news-block__sort.grid.grid-v-center
          p Показать
          select.showlaxy-news-block__sort-select(name='select')
            option(value='rate') По полуряности
            option(value='date') По дате
            option(value='title') По названию
            option(value='wtf') По щючьему велению заказчика
      .showlaxy-main-block__container.grid.grid-wrap
        a(href="#").showlaxy-news-block
          p.showlaxy-news-block__head
            span 25.03.2019
            span Новость
          .showlaxy-news-block__content.grid
            img.showlaxy-news-block__img(src="img/img9.jpg", alt="img")
            h3.showlaxy-news-block__header Пратта и Смита облили зеленой слизью на премии Kids’ Choice
        a(href="#").showlaxy-news-block
          p.showlaxy-news-block__head
            span 25.03.2019
            span Новость
          .showlaxy-news-block__content.grid
            img.showlaxy-news-block__img(src="img/img9.jpg", alt="img")
            h3.showlaxy-news-block__header Пратта и Смита облили зеленой слизью на премии Kids’ Choice
        a(href="#").showlaxy-news-block
          p.showlaxy-news-block__head
            span 25.03.2019
            span Новость
          .showlaxy-news-block__content.grid
            img.showlaxy-news-block__img(src="img/img9.jpg", alt="img")
            h3.showlaxy-news-block__header Пратта и Смита облили зеленой слизью на премии Kids’ Choice
        a(href="#").showlaxy-news-block
          p.showlaxy-news-block__head
            span 25.03.2019
            span Новость
          .showlaxy-news-block__content.grid
            img.showlaxy-news-block__img(src="img/img9.jpg", alt="img")
            h3.showlaxy-news-block__header Пратта и Смита облили зеленой слизью на премии Kids’ Choice 
        a(href="#").showlaxy-news-block
          p.showlaxy-news-block__head
            span 25.03.2019
            span Новость
          .showlaxy-news-block__content.grid
            img.showlaxy-news-block__img(src="img/img9.jpg", alt="img")
            h3.showlaxy-news-block__header Пратта и Смита облили зеленой слизью на премии Kids’ Choice
        a(href="#").showlaxy-news-block
          p.showlaxy-news-block__head
            span 25.03.2019
            span Новость
          .showlaxy-news-block__content.grid
            img.showlaxy-news-block__img(src="img/img9.jpg", alt="img")
            h3.showlaxy-news-block__header Пратта и Смита облили зеленой слизью на премии Kids’ Choice
        a(href="#").showlaxy-news-block
          p.showlaxy-news-block__head
            span 25.03.2019
            span Новость
          .showlaxy-news-block__content.grid
            img.showlaxy-news-block__img(src="img/img9.jpg", alt="img")
            h3.showlaxy-news-block__header Пратта и Смита облили зеленой слизью на премии Kids’ Choice
        a(href="#").showlaxy-news-block
          p.showlaxy-news-block__head
            span 25.03.2019
            span Новость
          .showlaxy-news-block__content.grid
            img.showlaxy-news-block__img(src="img/img9.jpg", alt="img")
            h3.showlaxy-news-block__header Пратта и Смита облили зеленой слизью на премии Kids’ Choice 
      button.showlaxy-news-block__btn.btn.btn-default(type="button") Загрузить еще
        img(src="img/more.png", alt="More")
        