doctype html
html
  head
    title V-Fall Cinema
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet' href='/assets/css/style.css')
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" rel="stylesheet")
    
  body.v-fall
    header.v-fall-header.grid
      .v-fall__container.grid.grid-v-center.grid-v-between
        .v-fall-header__logo
          img.v-fall-header__img(src="/assets/img/v-fall/logo-v-fall.png", alt="V-Fall")
        nav.v-fall-header__nav
          a.v-fall-header__link(href="#") Новинки
          a.v-fall-header__link(href="#") Фильмы
          a.v-fall-header__link(href="#") Мультфильмы
          a.v-fall-header__link(href="#") Новости
          a.v-fall-header__link(href="#") Кинотеатры
          a.v-fall-header__link(href="#") Контакты
        form.v-fall-header__search
          input.v-fall-header__input(type="text", placeholder="Найти")


    main.v-fall-main
      .v-fall__container.grid.grid-column.v-fall__container--contacts
        section.v-fall__container--white.v-fall-contacts__block
          h2.v-fall-contacts__header Контакты
          h4.v-fall-contacts__subheader Если у вас есть вопросы, предложения или комментарии о сайте, напишите нам по адресу wearevideout@gmail.com
          p.v-fall-contacts__text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est eopksio laborum. Sed ut perspiciatis unde omnis istpoe natus error sit voluptatem accusantium doloremque eopsloi laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunot explicabo. Nemo ernim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sedopk quia consequuntur magni dolores eos qui rationesopl voluptatem sequi nesciunt. Neque porro quisquameo est, qui dolorem ipsum quia dolor sit amet, eopsmiep consectetur, adipisci velit, seisud quia non numquam eius modi tempora incidunt ut labore et dolore wopeir magnam aliquam quaerat voluptatem eoplmuriquisqu
        section.v-fall-contacts__block
          h3.v-fall-contacts__subheader Редакция
          p.v-fall-contacts__subheader Пишите сюда team@videout.ru, чтобы связаться с редакцией сайта. Не забудьте указать свои координаты — ваше имя, компанию и номер телефона.

    footer.v-fall-footer.grid
      .v-fall__container.grid.grid-v-center.grid-v-between
        .v-fall-footer__logo
          img.v-fall-footer__img(src="/assets/img/v-fall/logo-v-fall.png", alt="V-Fall")
        nav.v-fall-footer__nav
          a.v-fall-footer__link(href="#") Новинки
          a.v-fall-footer__link(href="#") Фильмы
          a.v-fall-footer__link(href="#") Мультфильмы
          a.v-fall-footer__link(href="#") Новости
          a.v-fall-footer__link(href="#") Кинотеатры
          a.v-fall-footer__link(href="#") Контакты
        form.v-fall-footer__search
          input.v-fall-footer__input(type="text", placeholder="Найти")
    script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js")
    script(src="/assets/js/script.js")