include ../base/v-fall/header

main.v-fall-main.v-fall-main--page-list
  .v-fall__container.v-fall__container--white.v-fall__container--list
    section.v-fall-main-block.grid.grid-column
      h2.v-fall-main-block__header Новинки
      .v-fall-main-block__container.grid.grid-wrap
        include templates/video.pug
      button.v-fall-main-block__btn.btn.btn-default(type="button") Загрузить еще

include ../base/v-fall/footer