main.v-fall-main
  .v-fall__container.grid.grid-column.v-fall__container--not-found
    section.v-fall-not-found
      img.v-fall-not-found__img(src="img/404.png", alt="404")
      p.v-fall-not-found__text К сожалению, запрашиваемая страница не найдена
      a.v-fall-not-found__btn.btn.btn-default.btn-link(href="#") На главную