main.v-fall-main
  section.v-fall-main-slider.owl-carousel
    .v-fall-main-slide
      img(src="img/slide1.jpg", alt="")
      .v-fall-main-slide__content
        p.v-fall-main-slide__label
          span.v-fall-main-slide__text 2019
          span.v-fall-main-slide__text Мелодрамма
        h3.v-fall-main-slide__title Фаворитка
    .v-fall-main-slide
      img(src="img/slide1.jpg", alt="")
      .v-fall-main-slide__content
        p.v-fall-main-slide__label
          span.v-fall-main-slide__text 2019
          span.v-fall-main-slide__text Мелодрамма
        h3.v-fall-main-slide__title Фаворитка
    .v-fall-main-slide
      img(src="img/slide1.jpg", alt="")
      .v-fall-main-slide__content
        p.v-fall-main-slide__label
          span.v-fall-main-slide__text 2019
          span.v-fall-main-slide__text Мелодрамма
        h3.v-fall-main-slide__title Фаворитка
    .v-fall-main-slide
      img(src="img/slide1.jpg", alt="")
      .v-fall-main-slide__content
        p.v-fall-main-slide__label
          span.v-fall-main-slide__text 2019
          span.v-fall-main-slide__text Мелодрамма
        h3.v-fall-main-slide__title Фаворитка
  .v-fall-main-slide__controls
    button.v-fall-main-slide__prev
    button.v-fall-main-slide__next
  .v-fall__container.v-fall__container--white.v-fall__container--main
    section.v-fall-main-block
      h2.v-fall-main-block__header Новинки
      .v-fall-main-block__container
        a.v-fall-main-block__item(href="#")
          img.v-fall-main-block__img(src="img/img1.jpg", alt="")
          h3.v-fall-main-block__title Фаворитка
          p.v-fall-main-block__content
            span.v-fall-main-block__elem 2011
            span.v-fall-main-block__elem Мелодрамма
        a.v-fall-main-block__item(href="#")
          img.v-fall-main-block__img(src="img/img2.jpg", alt="")
          h3.v-fall-main-block__title Стекло
          p.v-fall-main-block__content
            span.v-fall-main-block__elem 2019
            span.v-fall-main-block__elem Боевик
        a.v-fall-main-block__item(href="#")
          img.v-fall-main-block__img(src="img/img3.jpg", alt="")
          h3.v-fall-main-block__title Море соблазна
          p.v-fall-main-block__content
            span.v-fall-main-block__elem 2019
            span.v-fall-main-block__elem Боевик
        a.v-fall-main-block__item(href="#")
          img.v-fall-main-block__img(src="img/img1.jpg", alt="")
          h3.v-fall-main-block__title Фаворитка
          p.v-fall-main-block__content
            span.v-fall-main-block__elem 2011
            span.v-fall-main-block__elem Мелодрамма
        a.v-fall-main-block__item(href="#")
          img.v-fall-main-block__img(src="img/img2.jpg", alt="")
          h3.v-fall-main-block__title Стекло
          p.v-fall-main-block__content
            span.v-fall-main-block__elem 2019
            span.v-fall-main-block__elem Боевик
        a.v-fall-main-block__item(href="#")
          img.v-fall-main-block__img(src="img/img3.jpg", alt="")
          h3.v-fall-main-block__title Море соблазна
          p.v-fall-main-block__content
            span.v-fall-main-block__elem 2019
            span.v-fall-main-block__elem Боевик
    section.v-fall-main-block
      h2.v-fall-main-block__header Фильмы
      p.v-fall-main-block__subtitle Коллекция лучших мультфильмов для детей и родителей 
      .v-fall-main-block__container
        a.v-fall-main-block__item(href="#")
          img.v-fall-main-block__img(src="img/img1.jpg", alt="")
          h3.v-fall-main-block__title Фаворитка
          p.v-fall-main-block__content
            span.v-fall-main-block__elem 2011
            span.v-fall-main-block__elem Мелодрамма
        a.v-fall-main-block__item(href="#")
          img.v-fall-main-block__img(src="img/img2.jpg", alt="")
          h3.v-fall-main-block__title Стекло
          p.v-fall-main-block__content
            span.v-fall-main-block__elem 2019
            span.v-fall-main-block__elem Боевик
        a.v-fall-main-block__item(href="#")
          img.v-fall-main-block__img(src="img/img3.jpg", alt="")
          h3.v-fall-main-block__title Море соблазна
          p.v-fall-main-block__content
            span.v-fall-main-block__elem 2019
            span.v-fall-main-block__elem Боевик
        a.v-fall-main-block__item(href="#")
          img.v-fall-main-block__img(src="img/img1.jpg", alt="")
          h3.v-fall-main-block__title Фаворитка
          p.v-fall-main-block__content
            span.v-fall-main-block__elem 2011
            span.v-fall-main-block__elem Мелодрамма
        a.v-fall-main-block__item(href="#")
          img.v-fall-main-block__img(src="img/img2.jpg", alt="")
          h3.v-fall-main-block__title Стекло
          p.v-fall-main-block__content
            span.v-fall-main-block__elem 2019
            span.v-fall-main-block__elem Боевик
        a.v-fall-main-block__item(href="#")
          img.v-fall-main-block__img(src="img/img3.jpg", alt="")
          h3.v-fall-main-block__title Море соблазна
          p.v-fall-main-block__content
            span.v-fall-main-block__elem 2019
            span.v-fall-main-block__elem Боевик
    section.v-fall-main-block.v-fall-main-block__carousel
      h2.v-fall-main-block__header Planeta online
      .v-fall-main-block__container.v-fall-main-block__container-carousel.owl-carousel
        a.v-fall-main-block__item.v-fall-main-block__item--lg(href="#")
          img.v-fall-main-block__img(src="img/img5.jpg", alt="")
          h3.v-fall-main-block__title Фаворитка
          p.v-fall-main-block__content
            span.v-fall-main-block__elem 2011
            span.v-fall-main-block__elem Мелодрамма
        a.v-fall-main-block__item.v-fall-main-block__item--lg(href="#")
          img.v-fall-main-block__img(src="img/img6.jpg", alt="")
          h3.v-fall-main-block__title Стекло
          p.v-fall-main-block__content
            span.v-fall-main-block__elem 2019
            span.v-fall-main-block__elem Боевик
        a.v-fall-main-block__item.v-fall-main-block__item--lg(href="#")
          img.v-fall-main-block__img(src="img/img7.jpg", alt="")
          h3.v-fall-main-block__title Море соблазна
          p.v-fall-main-block__content
            span.v-fall-main-block__elem 2019
            span.v-fall-main-block__elem Боевик
        a.v-fall-main-block__item.v-fall-main-block__item--lg(href="#")
          img.v-fall-main-block__img(src="img/img8.jpg", alt="")
          h3.v-fall-main-block__title Фаворитка
          p.v-fall-main-block__content
            span.v-fall-main-block__elem 2011
            span.v-fall-main-block__elem Мелодрамма
      .v-fall-main-block__carousel-btn
        button.v-fall-main-block__carousel-left
        button.v-fall-main-block__carousel-right
    section.v-fall-main-block
      h2.v-fall-main-block__header Мультфильмы
      p.v-fall-main-block__subtitle Коллекция лучших мультфильмов для детей и родителей 
      .v-fall-main-block__container
        a.v-fall-main-block__item(href="#")
          img.v-fall-main-block__img(src="img/img1.jpg", alt="")
          h3.v-fall-main-block__title Фаворитка
          p.v-fall-main-block__content
            span.v-fall-main-block__elem 2011
            span.v-fall-main-block__elem Мелодрамма
        a.v-fall-main-block__item(href="#")
          img.v-fall-main-block__img(src="img/img2.jpg", alt="")
          h3.v-fall-main-block__title Стекло
          p.v-fall-main-block__content
            span.v-fall-main-block__elem 2019
            span.v-fall-main-block__elem Боевик
        a.v-fall-main-block__item(href="#")
          img.v-fall-main-block__img(src="img/img3.jpg", alt="")
          h3.v-fall-main-block__title Море соблазна
          p.v-fall-main-block__content
            span.v-fall-main-block__elem 2019
            span.v-fall-main-block__elem Боевик
        a.v-fall-main-block__item(href="#")
          img.v-fall-main-block__img(src="img/img1.jpg", alt="")
          h3.v-fall-main-block__title Фаворитка
          p.v-fall-main-block__content
            span.v-fall-main-block__elem 2011
            span.v-fall-main-block__elem Мелодрамма
        a.v-fall-main-block__item(href="#")
          img.v-fall-main-block__img(src="img/img2.jpg", alt="")
          h3.v-fall-main-block__title Стекло
          p.v-fall-main-block__content
            span.v-fall-main-block__elem 2019
            span.v-fall-main-block__elem Боевик
        a.v-fall-main-block__item(href="#")
          img.v-fall-main-block__img(src="img/img3.jpg", alt="")
          h3.v-fall-main-block__title Море соблазна
          p.v-fall-main-block__content
            span.v-fall-main-block__elem 2019
            span.v-fall-main-block__elem Боевик
    section.v-fall-main-block
      h2.v-fall-main-block__header Новости
      p.v-fall-main-block__subtitle Коллекция лучших мультфильмов для детей и родителей 
      .v-fall-main-block__container
        a.v-fall-main-block__item.v-fall-main-block__item--lg(href="#")
          img.v-fall-main-block__img(src="img/img5.jpg", alt="")
          p.v-fall-main-block__text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id 
        a.v-fall-main-block__item.v-fall-main-block__item--lg(href="#")
          img.v-fall-main-block__img(src="img/img6.jpg", alt="")
          p.v-fall-main-block__text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id 
        a.v-fall-main-block__item.v-fall-main-block__item--lg(href="#")
          img.v-fall-main-block__img(src="img/img7.jpg", alt="")
          p.v-fall-main-block__text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id 
        a.v-fall-main-block__item.v-fall-main-block__item--lg(href="#")
          img.v-fall-main-block__img(src="img/img8.jpg", alt="")
          p.v-fall-main-block__text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id 