a.v-fall-main-block__item(href="#")
  img.v-fall-main-block__img(src="/assets/img/v-fall/img2.jpg", alt="")
  h3.v-fall-main-block__title Стекло
  p.v-fall-main-block__content
    span.v-fall-main-block__elem 2019
    span.v-fall-main-block__elem Боевик