doctype html
html
  head
    title showlaxy Cinema
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet' href='css/style.css')
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" rel="stylesheet")
    
  body
    header.showlaxy-header.grid
      .grid.grid-v-center.grid-v-between.grid-column.showlaxy-block
        .showlaxy-header-top
          .showlaxy__container.grid.grid-v-center.grid-v-between
            .showlaxy-header__logo
              img.showlaxy-header__img(src="img/logo-showlaxy.png", alt="showlaxy")
            form.showlaxy-header__search
              input.showlaxy-header__input(type="text", placeholder="Найти")
            .showlaxy-header__mask
        .showlaxy-header-bottom
          .showlaxy__container.grid.grid-v-center
            nav.showlaxy-header__nav
              a.showlaxy-header__link(href="#") Новинки
              a.showlaxy-header__link(href="#") Фильмы
              a.showlaxy-header__link(href="#") Мультфильмы
              a.showlaxy-header__link(href="#") Новости
              a.showlaxy-header__link(href="#") Кинотеатры
              a.showlaxy-header__link(href="#") Контакты
        


    block content

    footer.showlaxy-footer.grid
      .grid.grid-v-center.grid-v-between.grid-column.showlaxy-block
        .showlaxy-footer-top
          .showlaxy__container.grid.grid-v-center.grid-v-around
            .showlaxy-footer__logo
              img.showlaxy-footer__img(src="img/logo-showlaxy.png", alt="showlaxy")
            nav.showlaxy-footer__nav
              a.showlaxy-footer__link(href="#") Новинки
              a.showlaxy-footer__link(href="#") Фильмы
              a.showlaxy-footer__link(href="#") Мультфильмы
              a.showlaxy-footer__link(href="#") Новости
              a.showlaxy-footer__link(href="#") Кинотеатры
              a.showlaxy-footer__link(href="#") Контакты
        .showlaxy-footer-bottom
          .showlaxy__container.grid.grid-v-center.grid-v-around
            .showlaxy-footer__social.grid.grid-v-center
              span Присоединяйтесь
              .showlaxy-footer__social-nav
                a.showlaxy-footer__social-link(href="#")
                  img(src="img/vk.png")
                a.showlaxy-footer__social-link(href="#")
                  img(src="img/fb.png")
                a.showlaxy-footer__social-link(href="#")
                  img(src="img/ok.png")
    script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js")
    script.
      var owl = $('.showlaxy-main-slider');
      var owl2 = $('.showlaxy-main-block__container-carousel')
      var owl3 = $('.showlaxy-main-block__container-animate')
      owl.owlCarousel({
          center: true,
          items: 2,
          loop: true,
          margin: 10,
          autoWidth: true,
      });
      $('.showlaxy-main-slide__next').click(function() {
          owl.trigger('next.owl.carousel', [300]);
      })

      var video = $("video"),
          pauseButton = $(".showlaxy-inner__video-btn");
          pauseButton.bind('click', function() {
          if (video.get(0).paused) {
              video.get(0).play();
          } else {
              video.get(0).pause();
          }
      });

      $(".showlaxy-inner__content-slide").click(function() {
        $('.showlaxy-inner__content-text').animate({
          height: 250
        })
      })

      owl2.owlCarousel({
          items: 4,
          loop: true,
          margin: 26,
          autoWidth: true
      });

      $('.showlaxy-main-block__carousel-right').click(function() {
          owl2.trigger('next.owl.carousel', [300]);
      })
      $('.showlaxy-main-block__carousel-left').click(function() {
          owl2.trigger('prev.owl.carousel', [300]);
      })

      owl3.owlCarousel({
          items: 6,
          loop: true,
          margin: 27,
          autoWidth: true
      });

      $('.showlaxy-main-block__container-animate-next').click(function() {
          owl3.trigger('next.owl.carousel', [300]);
      })